@font-face {
    font-family: 'Neue Montreal';
    font-weight: 400;
    src: url('./src/assets/fonts/NeueMontreal-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Neue Montreal';
    font-weight: 500;
    src: url('./src/assets/fonts/NeueMontreal-Medium.woff') format('woff');
}