@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: 'JetBrains Mono', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
  color: #242729;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
}

.InterVariable {
  font-family: 'InterVariable', sans-serif;
}

.dark body {
  background-color: #090909;
  color: #fbfbfb;
}

.dark ::selection {
  background: hsla(0, 0%, 15%, 1);
  /* color: #121212; */
}

::selection {
  background: hsla(0, 0%, 85%, 1);
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

a {
  font-size: 1rem;
  font-weight: 500;
  color: #121212;
  text-decoration: none;
}

a:hover {
  color: #f9f9f9;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.text-shadow {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

/* animation */
.animate-bounce {
  animation: bounce 1s infinite;

}

.animation-delay-300 {
  animation-delay: 300ms;
}

.animation-delay-600 {
  animation-delay: 600ms;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(7px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Animation for rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.icon-container {
  display: flex;
  width: 3rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icon {
  transition: opacity 0.3s ease-in-out;
}

.rotate {
  animation: rotate 0.5s forwards;
}

.hidden {
  opacity: 0;
}

.glow {
  filter: drop-shadow(0 0 5px #fff);
}